<h2 class="mb-3">Dashboard</h2>

<div class="dashboard-container">
  <div class="user-votes">
    <h3 id="votes">Votes</h3>
    <ul>
      <% @votes.each do |v| %>
        <li><%= v.version.idea.name %>: <%= link_to v.version.goal, idea_path(id: v.version.idea, version: v.version.number) %> (version #<%= v.version.number %>)</li>
      <% end %>
    </ul>
  </div>

  <div class="user-ideas">
    <div>
      <h3 id="published-ideas">Published Ideas</h3>

      <div class="idea-container">
        <% if @published_ideas.empty? %>
          <p><em>Looks like you don't have any published ideas... yet!</em></p>
        <% end %>

        <% @published_ideas.each do |idea| %>
          <%= render 'shared/idea_card', idea: idea, belongs_to_logged_in_user: true %>
        <% end %>
      </div>
    </div>

    <div>
      <h3 id="unpublished-ideas">Unpublished Ideas</h3>

      <div class="idea-container">
        <% if @other_ideas.empty? %>
          <p><em>There aren't any unpublished ideas... <%= link_to 'make a new one!', new_idea_path %></em></p>
        <% end %>

        <% @other_ideas.each.each do |idea| %>
          <%= render 'shared/idea_card', idea: idea, belongs_to_logged_in_user: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>
