<h2 class="mb-3">New Idea</h2>

<%= form_tag ideas_path do %>
  <div class="form-group">
    <%= label_tag :name, nil, class: 'form-control-label' %>
    <%= text_field_tag :name, nil, class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= label_tag :goal, nil, class: 'form-control-label' %>
    <%= text_field_tag :goal, nil, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag :content, nil, class: 'form-control-label' %>
    <%= text_area_tag :content, nil, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <div class="form-check <%= (@too_many_published) ? ' disabled' : '' %>">
      <label class="form-check-label">
        <%= check_box_tag :published, true, false, disabled: @too_many_published, class: 'form-check-input' %>
        Published
      </label>
    </div>
  </div>

  <div class="form-group">
    <%= submit_tag 'Save New Idea', class: 'btn btn-primary' %>
  </div>
<% end %>
