<% if @warning %>
  <%= render 'cant_find_warning' %>
<% else %>
  <% if @version_warning %>
    <p class="alert alert-warning" role="alert">Sorry, we can't find that version of the idea&mdash;we are showing you the latest one.</p>
  <% end %>

  <div class="idea">
    <% if !@is_current_users %>
      <%= render 'idea_controls_visitor', local: { vote: @vote, idea: @idea, version: @version, past_vote: @past_vote, has_already_voted: @has_already_voted, is_old_version: @is_old_version } %>
    <% end %>

    <h2 class="mb-3"><%= @idea.name %></h2>
    <p>
      <% if !@is_current_users %>
        by <strong><%= @current_user.username %></strong> |
      <% end %>
      version #<%= @version.number %>
      <% if @is_old_version %>
        <small class="bg-warning p-1">(old version)</small>
      <% end %>
      | votes: <%= @upvotes %>
    </p>

    <% if @is_current_users %>
      <%= render 'idea_controls_owner', local: { idea: @idea } %>
    <% end %>

    <hr>
    <h3><%= @version.goal %></h3>
    <p><%= @version.content %></p>
  </div>

  <footer class="idea-footer text-center">
    <% if @version.number > 1 %>
      <%= link_to '< previous version', idea_path(id: @idea.id, version: @version.number - 1), class: 'text-muted' %>
    <% end %>

    <% if @is_old_version %>
      <% unless @version.number + 1 == @version_count #next version is the newest %>
      <%= link_to 'next version >', idea_path(id: @idea.id, version: @version.number + 1), class: 'text-muted' %>
      <% end %>

      <%= link_to 'newest version >>', idea_path(@idea.id) %>
    <% end %>

  </footer>
<% end %>
