<% if @warning %>
  <p>Sorry, we can't find this particular idea.</p>
<% else %>
  <% if @is_current_users %>
    <p>
      <%= link_to 'edit idea', edit_idea_url, id: @idea.id %>
       | published: <em><%=@idea.published %></em>
     </p>

    <!-- TODO add a link to publish or unpublish idea quickly here -->
  <% end %>

  <h1><%= @idea.name %></h1>
  <h3><%= @version.goal %></h3>

  <p><%= @version.content %></p>
<% end %>
