<h2 class="mb-3">Sign Up <span aria-hidden="true">:)</span></h2>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'form-control-label' %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :username, class: 'form-control-label' %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'form-control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'form-control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
