<!DOCTYPE html>
<html>
  <head>
    <title>Sunny</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-nav" style="text-align: right; padding: 10px; background-color: #efefef;">
      <% if current_user %>
        <p>logged in as <%= current_user.username %> | <%= link_to 'Log out', log_out_path %></p>
      <% else %>
        <p>
          <%= link_to 'Sign Up', sign_up_path %>
          <%= link_to 'Log in', log_in_path %>
        </p>
      <% end %>
    </nav>

    <% flash.each do |name, message| %>
      <%= content_tag :p, message, :id => "flash_#{name}", :style => 'background: pink; padding: 2px 10px' %>
    <% end %>

    <%= yield %>
  </body>
</html>
